.modal-content-cards {
    position: fixed;
    opacity: 1;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    z-index: 4;
    color:whitesmoke;
}

.DetailsModal {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 32em;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: black;
    border-radius:25px;
}

.ConfirmationModal {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 32em;
    height: 10em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: black;
    white-space: normal;
    text-align: center;
    border-radius:25px;
}

.PrintModal {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 32em;
    height: 9em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: black;
    white-space: normal;
    border-radius:25px;
    text-align: center;    
}

.modal-content-cards img{
    height:180px;
    width:150px;
    padding: 15 0;
}

.DetailsModal div p, .PrintModal div p{
    text-align: initial;
}
