.card-container {
    background: black;
    border-radius: 10px;
    height: 250px;
    width:250px;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
    z-index: 1;
}

.card-content {
    background: black;
    color: white;
    height: 100%;
    width:100%;
    position: absolute;
    z-index: 2;    
    border-radius: 10px;
}
.card-popup {
    opacity: 0;
    color: black;
    height: 100px;
    width:100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
}
.card-popup a {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 25 5;
}
.card-popup a span {
    padding: 5px;
    margin: 5 0;
}

.card-content img {
    height: 100%;
    width:100%;
    border-radius: 10px;
}
.card-content-text {
    position: absolute;
    bottom: 0;
    width:100%;
    padding: 5px;
}

.card-content-text p {
    text-align: center;
}
