.card-container {
    background: whitesmoke;
    height: 250px;
    width:250px;
    border: 1px solid aqua;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
}

.card-content {
    background: black;
    color: white;
    height: 100%;
    width:100%;
    position: absolute;
    z-index: 2;
}
.card-popup {
    background:whitesmoke;
    opacity: 0;
    color: black;
    height: 0px;
    width:100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
}