<div class="card-container" (mouseenter)="Expand($event)" (mouseleave)="Shrink()">
	<div class="card-content">
		<img class="content-image" [src]="character.image">
		<div class="card-content-text">
			<p>{{character.name}} of house: {{character.house}}</p>
		</div>
	</div>
	<div class="card-popup">
		<a class="btn btn-success" (click)="OpenCard()">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a>
		<a class="btn btn-success" (click)="DeleteCard()">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
		<a class="btn btn-success" (click)="PrintCard()">
			<span class="glyphicon glyphicon-print"></span>
		</a>
	</div>
</div>