<div class="card-container" (mouseenter)="Expand($event)" (mouseleave)="Shrink()">
	<div class="card-content">
		<img class="content-image" [src]="character.image">
		<div class="card-content-text">
			<p>{{character.name}} of house: {{character.house}}</p>
		</div>
	</div>
	<div class="card-popup">
		<a class="btn btn-primary" (click)="OpenCard()" *ngIf="cardOptions.showOpen">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a>
		<a class="btn btn-danger" (click)="DeleteCard()" *ngIf="cardOptions.showDelete">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
		<a class="btn btn-primary" (click)="PrintCard()" *ngIf="cardOptions.showPrint">
			<span class="glyphicon glyphicon-print"></span>
		</a>
	</div>
</div>