.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}
.screensToBlur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

body {
    background: url('./assets/sitebackground.jpg')
}
header {
    height: 70px;
    padding: 13px;
    background: linear-gradient(#080808,#505050,#080808);
    text-align: center;
    font-family: initial;
    font-size: 34px;
    color:azure;
}