.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: white;
    width: 100%;
}
.screensToBlur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.container {
    max-width: 750px;
    margin: 0 auto;
}

body {
    background: whitesmoke;
}
.header {
    width: 100%;
    background: white;
    font-size: x-large;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid whitesmoke;
}